@model IDictionary<string,object>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Welcome</h1>
    <section>
        <ul>
            @foreach (var kv in this.Model)
            { 
                <li>@string.Format("{0}={1}", kv.Key,Json.Serialize(kv.Value))</li>
            }
        </ul>
    </section>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
